.b-button {
  width: 220px;
  height: 50px;
  display:block;
  text-align: center;
  line-height: 50px;
}
.b-button--red {
  @extend .b-button;
  background: #f03d65;
  color:white;
}
.b-button--transparent {
  @extend .b-button;
  border: 2px solid #222;
  line-height: 44px;
}
.elem-center div {
  display: inline-block;
}
