.b-brands {
  display: block;
  margin-bottom: 32%;
  overflow: hidden;
  &>a {
    display: block;
    float: left;
  }
  @include breakpoint(mobile) {
    padding-top:0;
  }
}
.b-brands__item {
  width: 25%;
  float: left;
  padding-top:25%;
  position: relative;
  // border-bottom:1px solid #eee;
  // border:1px solid red;d
  transition:all 300ms;
  background-size: contain;
  &.double {
    width: 50%;
  }
  @include breakpoint(mobile) {
    width: 100%;
    // left: 5%;
    padding-top: 51%;
    margin-bottom: 0%;
    border-bottom: 1px solid #eee;
    // border-top: 1px solid #eee;
  }
  &.atyabtabkha {
    background-image:url(#{$assetpath}img/brands/atyabtabkha.png);
  }
  &.duniatti {
    background-image:url(#{$assetpath}img/brands/duniatti.png);
  }
  &.yasmina {
    background-image:url(#{$assetpath}img/brands/yasmina.png);
  }
  &.azilanti {
    background-image:url(#{$assetpath}img/brands/3a2ilati.png);
  }
  &.warrini {
    background-image:url(#{$assetpath}img/brands/warrini.png);
  }
  &.mazyun {
    background-image:url(#{$assetpath}img/brands/mazyun.png);
  }
  &.mashasheri {
    background-image:url(#{$assetpath}img/brands/mashasheri.png);
  }
}
.b-brands__item__logo {
  width: 60%;
  position: absolute;
  top: 50%;
  left:20%;
  opacity: 0.7;
  transform: translateY(-50%);
  @include breakpoint(mobile) {
    top:0;
  }
}
.b-brands__social {
  width: 100%;
  text-align: center;
  margin-bottom: 6%;
  @include breakpoint(mobile) {
    margin-bottom: 9%;
  }
}
.b-brands__social__item {
  display: inline-block;
  width: 30px;
  margin:0 8px;
  text-align: center;
  img {
    height: 27px;
  }
  &:nth-child(1){
    img {
      height: 30px;
    }
  }
}
.box {
  transform:scale(1.1) translateY(10px);
}
