.b-jobs__button {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fe700b+1,f30f8c+100 */
	background: #fe700b; /* Old browsers */
	background: -moz-linear-gradient(left, #fe700b 1%, #f30f8c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #fe700b 1%,#f30f8c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #fe700b 1%,#f30f8c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe700b', endColorstr='#f30f8c',GradientType=1 ); /* IE6-9 */

	color:white;
	font-family: $text__family--Roboto;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	display: inline-block;
	border-radius:22px;
	padding: 2px 30px;
}
.b-jobs__desc {
	font-family: $text__family--Roboto;
	font-weight: 300;
	margin-bottom: 6.4%;
}
