.b-landing {
  display:block;
  margin-bottom: 32.2%;
  @extend .b-line--bottom;
}
.b-landing__logo {
  width: 30%;
  margin:0 auto;
  display: block;
  margin-top:38%;
  margin-bottom:10%;
  @include breakpoint(mobile) {
    margin-top: 33%;
    width: 60%;
  }
}
