.b-landing {
  display:block;
  margin-bottom: 7%;
  h1 {
    padding-top:10%;
    padding-bottom: 8%;
  }
  // @extend .b-line--bottom;
  .b-division {
    margin-bottom: 10%;
  }
}
.b-landing__logo {
  width: 30%;
  margin:0 auto;
  display: block;
  margin-top:38%;
  margin-bottom:10%;
  @include breakpoint(mobile) {
    margin-top: 33%;
    width: 60%;
  }
}
.b-landing-info {
  position: relative;
  left:-10%;
}
