.b-studio {
  display: block;
  width: 100%;
  position: relative;
  .wrapper--medium--main-img {
    display: block;
    width: 100%;
  }
  .wrapper--medium--tw {
    @include center;
    width: 100%;
    text-align: center;
    .wrapper--medium--txt {
      color: white;
      font-size: 3rem;
      text-align: center;
      display: block;
      margin: 0 auto;
      width: 80%;
      margin-bottom: 5%;
    }
    .wrapper--medium--button {
      color: white;
      background-color: #E5204B;
      font-family: $text__family--Roboto;
      font-size: 1.5rem;
      padding: 1.6rem 1.8rem;
      white-space: nowrap;
      position: relative;
      display: inline-block;
      margin: 0 auto;
      width: auto;
      .arrr {
        background: url(../../assets/img/arrow-visit.svg);
        vertical-align: middle;
        display: inline-block;
        $size: 1.2rem;
        height: $size;
        width: $size;
        background-size: 100% 100%;
        margin-left: 3rem;
      }
    }
  }
}

@include breakpoint(mobile) {
  .b-studio {
    .wrapper--medium--tw {
      height: 100%;
      .wrapper--medium--txt {
        @include center;
        margin-bottom: 0;
        width: 90%;
        font-size: 1.2rem;
        line-height: 1.6rem;
      }
      .wrapper--medium--button {
        position: absolute;
        top: 115%;
        left: 10%;
        right: 10%;
        margin: 0;
        width: auto;
        font-size: .85rem;
        text-align: center;
        padding-top: .8rem;
        padding-bottom: .8rem;
        .arrr {
          position: absolute;
          @include center;
          right: 4%;
          left: auto;
          $size: .65rem;
          height: $size;
          width: $size;
        }
      }
    }
  }
}
