.b-social {
  text-align: center;
  // margin-bottom: 11%;
  // padding-top: 4%;
	float: left;
	position: absolute;
	right: 10%;
	bottom: 0;
	h5 {
		font-family: $text__family--Playfair;
		text-align: center;
		padding:0;
	    margin-bottom: 10px;
	}
}
li.b-social__item {
  display: inline-block;
  text-align: center;
  margin:15px;
  transition:390ms;
  width: 24px;
  a {
    display: block;
  }
  img {
    height: 34px;
  }
  &:hover {
    opacity: 0.6;
  }
}
.b-detail-intro{
  .b-social {
    text-align: center;
    margin-bottom: 29%;
    padding-top: 4%;
  }
  li.b-social__item {
    display: inline-block;
    text-align: center;
    margin:0;
    img {
      width: 60px;
      height: 60px;
    }
  }
}
li.b-social__item.gplay img, li.b-social__item.app-store img{
  height: 40px;
  width: auto;
}

li.b-social__item.app-store {
  margin:15px;
}
li.b-social__item.gplay {
  margin:15px;
  margin-left:0;
}
.b-social__items {
	border-bottom: 1px solid #222;
	margin-bottom: 24px;
}
.b-social__item {
	&.mail {
	    margin-left: 0;
		img {
			height: auto;
		    width: 15px;
		}
	}
	&.fb {
		img {
		    height: 18px;
		}
	}
	&.tw {
	    margin-right: 0;
		img {
		    height: 17px;
		}
	}
}
.b-social__button {
	text-align: center;
    border: 1px solid #222;
	display: block;
	font-size: 10px;
    padding: 9px 42px;
    margin-top: 11px;
    display: inline-block;
}
