.header {
  width: 100%;
  z-index: 99;
  position: absolute;
  .menu-ico {
    // display: none;
    right: 25px;
    z-index: 999;
    top: 22px;
    width: 50px;
    height: 50px;
    position: fixed;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../assets/img/menu.svg);
    &.active {
      background-image:url(../../assets/img/close.svg);
    }
    @include breakpoint(mobile) {
      display: block;
      right: 0;
      top: 10px;
      background-size: 24px;
      right: 10px;
    }
  }
}
.header-social {
  float: right;
  margin-top: 20px;
  margin-right: 13.9%;
  z-index: 6;
  position: relative;
  @include breakpoint(mobile) {
    margin-top: 6px;
    margin-right: 4px;
  }
}
.header-social__item {
  display: inline-block;
  img {
    height: 30px;
    margin: 4px 10px;
    &.insta {
      height: 26px;
      margin-right: 14px;
    }
  }
}
.header__logo {
  width: 106px;
  position: fixed;
  left: 34px;
  top: 34px;
  margin: 0;
  z-index: 1400;
  &--dark {
    display: none;
  }
  @include breakpoint(mobile) {
    bottom: 3%;
    width: 126px;
    left: 18px;
    margin-top: 0;
    top: 19px;
  }
}
.nav-active .header__logo {
  display: none;
}
.nav-active .header__logo--dark {
  display: block;
}
.header__nav {
  position: fixed;
  display: none;
  opacity: 0;
  width: 100%;
  height: 100vh;
  top:0;
  transition:opacity 400ms;
  left:0;
  background: rgba(255,255,255,0.9);
  // margin-top: 4%;k
  float: right;
  font-family: $text__family--Roboto;
  transition:max-height 400ms;
  &__holder {
    position: relative;
    top: 55%;
    overflow: hidden;
    transform: translateY(-50%);
  }
  li {
    font-size: 68px;
    padding: 0.8% 0  1.5% ;
    // padding-bottom: 6px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    display: block;
    color: #222;
    font-family: $text__family--Playfair;
    font-weight: 600;

    @include breakpoint(mobile) {
      width: 100%;
      display: block;
      margin: 24px 0;
      // max-height: 0;
      font-size: 52px;
      overflow: hidden;
    }
  }
  h5 {
    text-align: center;
  }
  @include breakpoint(mobile) {
  }
  &.active {
    display: block;
    opacity: 1;

  }
}
.header__links {
  margin-bottom: 5%;
  @include breakpoint(mobile) {
    margin-bottom: 17%;
  }
  &>li:hover {
    background: #222;
    color:white;
  }
}
