.header {
  width: 100%;
  z-index: 99;
  position: absolute;
  top: 0;
  .menu-ico {
    right: 25px;
    z-index: 999;
    top: 22px;
    width: 50px;
    height: 50px;
    position: fixed;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../assets/img/menu.svg);
    &.active {
      background-image:url(../../assets/img/close.svg);
      right: 40px;
    }
    @include breakpoint(mobile) {
      display: block;
      right: 0;
      top: 10px;
      background-size: 24px;
      right: 8px;
    }
  }
  &.dark {
    .header__logo {
      display: none;
    }
    .header__logo--dark {
      display: block;
    }
    .menu-ico {
      background-image: url(../../assets/img/menu--dark.svg);
      &.active {
        background-image:url(../../assets/img/close.svg);
      }
    }
  }
  .b-social {
    text-align: left;
    padding-left: 8px;
    @include breakpoint(mobile) {
      margin-top: 15%;
      float: left;
      padding-left: 9%;
    }
  }
}
.nav-active {
  .header {
    @include breakpoint(mobile) {
      position: fixed;
      height: 100vh;
      overflow-y: scroll;
      background: #fff;
    }
  }
}
.header-social {
  float: right;
  margin-top: 20px;
  margin-right: 13.9%;
  z-index: 6;
  position: relative;
  @include breakpoint(mobile) {
    margin-top: 6px;
    margin-right: 4px;
  }
}
.header-social__item {
  display: inline-block;
  img {
    height: 30px;
    margin: 4px 10px;
    &.insta {
      height: 26px;
      margin-right: 14px;
    }
  }
}
.header__logo {
  width: 106px;
  position: fixed;
  left: 34px;
  top: 34px;
  margin: 0;
  z-index: 1400;
  &--dark {
    display: none;
  }
  @include breakpoint(mobile) {
    bottom: 3%;
    width: 126px;
    left: 18px;
    margin-top: 0;
    top: 19px;
    position: absolute;
  }
}
.nav-active .header__logo {
  display: none;
}
.nav-active .header__logo--dark {
  display: block;
}
.header__nav {
  position: fixed;
  display: none;
  opacity: 0;
  width: 100%;
  height: 100vh;
  z-index: 19;
  top:0;
  transition:opacity 400ms;
  left:0;
  background: rgba(255,255,255,0.97);
  float: right;
  font-family: $text__family--Roboto;
  transition:max-height 400ms;
  .header__links:hover {
    & > li {
      color:rgb(150, 150, 150);
      @include breakpoint(mobile) {
        color:#222;
      }
    }
  }
  .header__links {
    width:300px;
    margin-bottom: 5%;
    position: relative;
    @include breakpoint(mobile) {
      margin-bottom: 17%;
      width: 100%;
    }
    a {
      display: block;
    }
  }
  .header__links > li {
    transition:color 399ms, opacity 399ms;
    position: relative;
    text-align: left;
    @include fontSize(68px);
    padding: 8% 0px;
    cursor: pointer;
    color: #222;
    font-family: $text__family--Playfair;
    font-weight: 600;
    &:hover {
      color:#222;
      .header__submenu {
        opacity: 1;
        display: block;
      }
    }
    @include breakpoint(mobile) {
      width: 100%;
      text-align: center;
      display: block;
      text-align: left;
      padding: 0;
      margin: 0;
      padding-left: 23px;
      margin-bottom: 22px;
      @include fontSize(52px);
      overflow: hidden;
    }
  }
  h5 {
    padding-top:20%;
    text-align: left;
    padding-bottom: 8%;
    padding-left: 8px;
    @include breakpoint(mobile) {
      margin-top: 14%;
      float: left;
      padding-top: 11%;
      padding-left: 21px;
      font-size: 14px;
      width: 161px;
    }
  }
  @include breakpoint(mobile) {
    position: absolute;
    top:0;
  }
  &.active {
    display: block;
    opacity: 1;
  }
}
.header__nav__holder {
  position: relative;
  top: 50%;
  overflow: hidden;
  transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  left: 50%;
  width: 600px;
  margin-top: 3rem;
  @include breakpoint(mobile) {
    width: 100%;
    left: 0;
    top: 0;
    transform: none;
    -moz-transform: none;
    transform: translate3D(0,0,0);
    margin-top: 112px;
  }
}

.header__submenu {
  opacity: 0;
  display: none;
  position: absolute;
  top: 70%;
  transform: translateX(100%) translateY(-50%);
  -ms-transform: translateX(100%) translateY(-50%);
  transition:opacity 399ms, max-height 399ms;
  padding-left: 53%;
  right: 0;
  &:hover {
    li {
      color:rgb(150, 150, 150);
    }
  }
  &>li {
    @include fontSize(17px);
    font-family: $text__family--Roboto;
    font-weight: 400;
    padding-bottom: 5%;
    padding:10px 20px 10px 10px;
    margin-top:10%;
    margin-bottom:10%;
    color:#222;
    transition:all 399ms;
    &:hover {
      color:#222;
    }
    @include breakpoint(mobile) {
      margin: 0;
      padding: 13px 8px;
    }
  }
  @include breakpoint(mobile) {
    position: relative;
    opacity: 1;
    transform:translate3d(0,0,0);
    left:0;
    width: 100%;
    margin:0;
    padding: 0;

    max-height: 0;
    &>li:first-child {
      padding-top: 36px;
    }
    &.active {
      max-height: 380px;
    }
  }
}
.submenu-arrow {
  display: none;
  width: 50px;
  height:50px;
  background-image:url(../../assets/img/arrow-right.svg);
  background-position: center;
  position:absolute;
  right: 8px;
  top: 9px;
  background-repeat: no-repeat;
  background-size: 13px;
  transition:all 399ms;
  &.active {
    transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
  }
  @include breakpoint(mobile) {
    display: block;
  }
}
