.header {
  width: 100%;
  z-index: 99;
  position: absolute;
}
.header-social {
  float: right;
  margin-top: 20px;
  margin-right: 13.9%;
  z-index: 6;
  position: relative;
  @include breakpoint(mobile) {
    margin-top: 6px;
    margin-right: 4px;
  }
}
.header-social__item {
  display: inline-block;
  img {
    height: 30px;
    margin: 4px 10px;
    &.insta {
      height: 26px;
      margin-right: 14px;
    }
  }
}
.header__logo {
  bottom: 3%;
  width: 14%;
  left:5%;
  position: relative;
}
