.wrapper {
  display:block;
  // overflow: hidden;
  @extend .clearfix;
  margin:0 auto;
  border-left:1px solid #eee;
  border-right:1px solid #eee;
  max-width: 800px;
  position: relative;
  // z-index: -1;
  &:before {
    position: absolute;
    content:'';
    width: 1px;
    background: #eee;
    height: 100%;
    left:50%;
    z-index: -1;
    // transform:translateX(-5124%);

    @include breakpoint(mobile) {
      display: none;
    }
  }
  @include breakpoint(tablet) {
    padding: 0 5%;
  }
  @include breakpoint(mobile) {
    padding:0;
  }
}
.wrapper--big {
  display:block;
  max-width: 1600px;
  margin:0 auto;
}
