.wrapper {
  display:block;
  overflow: hidden;
  margin:0 auto;
  border-left:1px solid red;
  border-right:1px solid red;
  max-width: 800px;
  position: relative;
  &:before {
    position: absolute;
    content:'';
    width: 1px;
    background: red;
    height: 100%;
    left:49.5%;
    // transform:translateX(-5124%);
  }
}
