h1 {
  font-size:47px;
  line-height: 58px;
  text-align: center;
  font-weight: bold;
  @include breakpoint(mobile) {
    font-size: 23px;
    line-height: 30px;
    padding: 0 4%;
  }
}
h2 {
  // font-size: 40px;
  text-align: left;
  display: inline;
  font-weight: bold;
  font-size: 76px;
  line-height: 23px;
  span {
    font-size: 26px;
    display: block;
  }
}
h3 {
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 6%;
  @include breakpoint(mobile) {
    font-size: 20px;
    line-height: 30px;
    @include breakpoint(mobile) {
      padding: 0 5%;
    }
  }
}
h4 {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 3%;
}
strong {
  font-weight: bold;
}
