$text__family--Playfair: 'Playfair Display', serif;
$base__font-size: 16px !default;
$base__line: 20 !default;

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $text__family--Playfair;
	font-size: $base__font-size;
  @include breakpoint(typoMax) {
    font-size: 16px;
  }
  @include breakpoint(mobile) {
    font-size: 16px;
  }
}
