@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300);
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  overflow-x: hidden;
  line-height: 1; }

a {
  text-decoration: none;
  color: inherit; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after, .wrapper:after, .wrapper--medium:after, .wrapper--header:after, .section:after, .section--brands:after, .b-division:after, .b-division--half:after, .b-header-slider:after, .b-audience:after {
  content: "";
  display: table;
  clear: both; }

a:hover, a:active, a:focus {
  outline: none;
  color: inherit; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Playfair Display", serif;
  font-size: 16px; }
  @media (max-width: 1600px) {
    html {
      font-size: 16px; } }
  @media (max-width: 700px) {
    html {
      font-size: 16px; } }

body {
  position: relative; }

.elem-center {
  display: block;
  text-align: center; }
  .elem-center h2 {
    display: inline-block; }

.arr-go {
  float: right;
  margin-right: 15px;
  background: url(../../assets/img/arrow-visit.svg);
  background-size: cover;
  width: 15px;
  height: 15px;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-ransform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 20px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center; }

.text-align--left {
  text-align: left; }

h1 {
  font-size: 47px;
  font-size: 2.9375rem;
  line-height: 58px;
  line-height: 3.625rem;
  text-align: center;
  font-weight: bold; }
  @media (max-width: 700px) {
    h1 {
      font-size: 23px;
      font-size: 1.4375rem;
      line-height: 30px;
      line-height: 1.875rem;
      padding: 0 4%; } }

h2 {
  text-align: left;
  display: inline;
  font-weight: bold;
  font-size: 76px;
  font-size: 4.75rem;
  line-height: 23px;
  line-height: 1.4375rem;
  z-index: 1;
  position: relative; }
  h2 span {
    font-size: 23px;
    font-size: 1.4375rem;
    display: block;
    font-weight: 200; }
  @media (max-width: 700px) {
    h2 {
      font-size: 37px;
      font-size: 2.3125rem;
      line-height: 15px;
      line-height: 0.9375rem;
      margin-bottom: 15%; }
      h2 span {
        font-size: 17px;
        font-size: 1.0625rem;
        display: block; } }

h3 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 43px;
  line-height: 2.6875rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 6%; }
  @media (max-width: 700px) {
    h3 {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 30px;
      line-height: 1.875rem; } }
  @media (max-width: 700px) and (max-width: 700px) {
    h3 {
      padding: 0 5%; } }

h4 {
  font-size: 23px;
  font-size: 1.4375rem;
  font-weight: bold;
  margin-bottom: 3%; }

strong {
  font-weight: bold; }

.wrapper, .wrapper--medium, .wrapper--header {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  position: relative; }
  .wrapper:before, .wrapper--medium:before, .wrapper--header:before {
    position: absolute;
    display: none;
    content: '';
    width: 1px;
    background: #eee;
    height: 100%;
    left: 50%;
    z-index: -1; }
    @media (max-width: 700px) {
      .wrapper:before, .wrapper--medium:before, .wrapper--header:before {
        display: none; } }
  @media (max-width: 1025px) {
    .wrapper, .wrapper--medium, .wrapper--header {
      padding: 0 5%; } }
  @media (max-width: 700px) {
    .wrapper, .wrapper--medium, .wrapper--header {
      padding: 0; } }

.wrapper--big {
  display: block;
  max-width: 1600px;
  margin: 0 auto; }

.wrapper--medium {
  max-width: 1300px; }

.wrapper--header {
  max-width: 900px;
  border: none; }

.section, .section--brands {
  display: block; }

.section--audience {
  margin-bottom: 10%; }
  .section--audience h2 {
    position: relative;
    left: -61px;
    top: -27px;
    margin-bottom: 20%; }
    @media (max-width: 700px) {
      .section--audience h2 {
        position: relative;
        left: -2px;
        top: -109px;
        margin-bottom: 20%; } }
  .section--audience .circle img {
    width: 200px;
    margin-left: 45px; }
    @media (max-width: 700px) {
      .section--audience .circle img {
        position: relative;
        margin: 0;
        left: -9%;
        width: 54%;
        float: left; } }
  @media (max-width: 700px) {
    .section--audience {
      margin-bottom: 40%;
      padding-top: 6%; } }

.section--showreel {
  margin-bottom: 17%; }
  .section--showreel h2 {
    margin-bottom: 6.6%; }
    @media (max-width: 700px) {
      .section--showreel h2 {
        margin-bottom: 15.6%; } }
  @media (max-width: 700px) {
    .section--showreel {
      margin-bottom: 47%; } }

.section--detail-intro .b-button, .section--detail-intro .b-button--red, .section--detail-intro .b-button--transparent, .section--detail-intro .b-button--tabkha, .section--detail-intro .b-button--yasmina, .section--detail-intro .b-button--3a2ilati, .section--detail-intro .b-button--mashaheeri, .section--detail-intro .b-button--warrini, .section--detail-intro .b-button--mazyun {
  margin-bottom: 11%; }

.section--marketing-service {
  padding: 0 5%; }

.section--footer {
  background: #eee;
  padding-top: 7%; }

@media (max-width: 1450px) {
  .section--contact .wrapper, .section--contact .wrapper--medium, .section--contact .wrapper--header {
    left: -10%; } }

@media (max-width: 700px) {
  .section--contact .wrapper, .section--contact .wrapper--medium, .section--contact .wrapper--header {
    left: 0; } }

.section--contact h1 {
  margin-bottom: 10%; }
  @media (max-width: 700px) {
    .section--contact h1 {
      font-size: 35px;
      font-size: 2.1875rem;
      margin-bottom: 15%; } }

.section--contact .b-division--half {
  padding: 0;
  margin-bottom: 7%; }

.section--contact .b-division__item:first-child {
  padding: 0 5%; }

@media (max-width: 700px) {
  .section--contact .b-division__item:last-child {
    margin-left: 0 !important; } }

.section--contact .b-contacts__item, .section--contact .b-contacts__item:nth-of-type(3) {
  width: 100%;
  margin-bottom: 13%; }
  .section--contact .b-contacts__item h4, .section--contact .b-contacts__item:nth-of-type(3) h4 {
    margin-bottom: 3%;
    font-family: "Playfair Display", serif; }

.section--contact .b-division__item img {
  width: 100%;
  width: 156%; }

.header {
  width: 100%;
  z-index: 99;
  position: absolute; }
  .header .menu-ico {
    right: 25px;
    z-index: 999;
    top: 22px;
    width: 50px;
    height: 50px;
    position: fixed;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../assets/img/menu.svg); }
    .header .menu-ico.active {
      background-image: url(../../assets/img/close.svg); }
    @media (max-width: 700px) {
      .header .menu-ico {
        display: block;
        right: 0;
        top: 10px;
        background-size: 24px;
        right: 10px; } }
  .header.dark .header__logo {
    display: none; }
  .header.dark .header__logo--dark {
    display: block; }
  .header.dark .menu-ico {
    background-image: url(../../assets/img/menu--dark.svg); }
    .header.dark .menu-ico.active {
      background-image: url(../../assets/img/close.svg); }
  .header .b-social {
    text-align: left;
    padding-left: 8px; }
    @media (max-width: 700px) {
      .header .b-social {
        margin-top: 15%;
        float: left;
        padding-left: 9%; } }

@media (max-width: 700px) {
  .nav-active .header {
    position: fixed;
    height: 100vh;
    overflow-y: scroll;
    background: #fff; } }

.header-social {
  float: right;
  margin-top: 20px;
  margin-right: 13.9%;
  z-index: 6;
  position: relative; }
  @media (max-width: 700px) {
    .header-social {
      margin-top: 6px;
      margin-right: 4px; } }

.header-social__item {
  display: inline-block; }
  .header-social__item img {
    height: 30px;
    margin: 4px 10px; }
    .header-social__item img.insta {
      height: 26px;
      margin-right: 14px; }

.header__logo {
  width: 106px;
  position: fixed;
  left: 34px;
  top: 34px;
  margin: 0;
  z-index: 1400; }
  .header__logo--dark {
    display: none; }
  @media (max-width: 700px) {
    .header__logo {
      bottom: 3%;
      width: 126px;
      left: 18px;
      margin-top: 0;
      top: 19px;
      position: absolute; } }

.nav-active .header__logo {
  display: none; }

.nav-active .header__logo--dark {
  display: block; }

.header__nav {
  position: fixed;
  display: none;
  opacity: 0;
  width: 100%;
  height: 100vh;
  z-index: 19;
  top: 0;
  transition: opacity 400ms;
  left: 0;
  background: rgba(255, 255, 255, 0.97);
  float: right;
  font-family: "Roboto", sans-serif;
  transition: max-height 400ms; }
  .header__nav .header__links:hover > li {
    color: #969696; }
    @media (max-width: 700px) {
      .header__nav .header__links:hover > li {
        color: #222; } }
  .header__nav .header__links {
    width: 300px;
    margin-bottom: 5%;
    position: relative; }
    @media (max-width: 700px) {
      .header__nav .header__links {
        margin-bottom: 17%;
        width: 100%; } }
    .header__nav .header__links a {
      display: block; }
  .header__nav .header__links > li {
    transition: color 399ms, opacity 399ms;
    position: relative;
    text-align: left;
    font-size: 68px;
    font-size: 4.25rem;
    padding: 8% 0px;
    cursor: pointer;
    color: #222;
    font-family: "Playfair Display", serif;
    font-weight: 600; }
    .header__nav .header__links > li:hover {
      color: #222; }
      .header__nav .header__links > li:hover .header__submenu {
        opacity: 1; }
    @media (max-width: 700px) {
      .header__nav .header__links > li {
        width: 100%;
        text-align: center;
        display: block;
        text-align: left;
        padding: 0;
        margin: 0;
        padding-left: 23px;
        margin-bottom: 22px;
        font-size: 52px;
        font-size: 3.25rem;
        overflow: hidden; } }
  .header__nav h5 {
    padding-top: 20%;
    text-align: left;
    padding-bottom: 8%;
    padding-left: 8px; }
    @media (max-width: 700px) {
      .header__nav h5 {
        margin-top: 14%;
        float: left;
        padding-top: 11%;
        padding-left: 21px;
        font-size: 14px;
        width: 161px; } }
  @media (max-width: 700px) {
    .header__nav {
      position: absolute;
      top: 0; } }
  .header__nav.active {
    display: block;
    opacity: 1; }

.header__nav__holder {
  position: relative;
  top: 50%;
  overflow: hidden;
  transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  left: 50%;
  width: 600px;
  margin-top: 3rem; }
  @media (max-width: 700px) {
    .header__nav__holder {
      width: 100%;
      left: 0;
      top: 0;
      transform: none;
      -moz-transform: none;
      transform: translate3D(0, 0, 0);
      margin-top: 112px; } }

.header__submenu {
  opacity: 0;
  position: absolute;
  top: 70%;
  transform: translateX(100%) translateY(-50%);
  -ms-transform: translateX(100%) translateY(-50%);
  transition: opacity 399ms, max-height 399ms;
  padding-left: 53%;
  right: 0; }
  .header__submenu:hover li {
    color: #969696; }
  .header__submenu > li {
    font-size: 17px;
    font-size: 1.0625rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding-bottom: 5%;
    padding: 10px 20px 10px 10px;
    margin-top: 10%;
    margin-bottom: 10%;
    color: #222;
    transition: all 399ms; }
    .header__submenu > li:hover {
      color: #222; }
    @media (max-width: 700px) {
      .header__submenu > li {
        margin: 0;
        padding: 13px 8px; } }
  @media (max-width: 700px) {
    .header__submenu {
      position: relative;
      opacity: 1;
      transform: translate3d(0, 0, 0);
      left: 0;
      width: 100%;
      margin: 0;
      padding: 0;
      max-height: 0; }
      .header__submenu > li:first-child {
        padding-top: 36px; }
      .header__submenu.active {
        max-height: 380px; } }

.submenu-arrow {
  display: none;
  width: 50px;
  height: 50px;
  background-image: url(../../assets/img/arrow-right.svg);
  background-position: center;
  position: absolute;
  right: 4px;
  top: 9px;
  background-repeat: no-repeat;
  background-size: 12px;
  transition: all 399ms; }
  .submenu-arrow.active {
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg); }
  @media (max-width: 700px) {
    .submenu-arrow {
      display: block; } }

.footer-copy {
  display: block;
  clear: both;
  overflow: hidden;
  margin-bottom: 8%; }
  .footer-copy .bck-to-top {
    float: right;
    font-family: "Roboto", sans-serif; }
  .footer-copy p {
    float: left;
    color: #95989A;
    font-size: 13px;
    font-size: 0.8125rem;
    font-family: "Roboto", sans-serif; }
    @media (max-width: 700px) {
      .footer-copy p {
        text-align: center;
        width: 100%;
        margin-bottom: 0%; } }

.footer-pre {
  margin-bottom: 5%;
  width: 100%;
  overflow: hidden; }
  .footer-pre img {
    float: left;
    width: 140px; }
    @media (max-width: 700px) {
      .footer-pre img {
        margin: 0 auto;
        float: none;
        display: block;
        margin-bottom: 8%; } }

.footer-social {
  text-align: center;
  margin-bottom: 8%; }

.footer-social__item {
  display: inline-block;
  text-align: center; }
  .footer-social__item a {
    display: block; }
  .footer-social__item img {
    width: 44px;
    margin: 7px; }
  .footer-social__item:nth-child(3) img {
    width: 44px;
    margin: 7px; }

.bck-to-top {
  cursor: pointer; }
  .bck-to-top img {
    margin-left: 10px; }
  @media (max-width: 700px) {
    .bck-to-top {
      width: 100%;
      text-align: center;
      padding-top: 15%; } }

footer {
  padding: 0 4%; }

.b-landing {
  display: block;
  margin-bottom: 12.4%; }
  .b-landing h1 {
    padding-top: 18%;
    padding-bottom: 18%; }
    @media (max-width: 700px) {
      .b-landing h1 {
        display: none; } }
  .b-landing .b-division, .b-landing .b-division--half {
    margin-bottom: 10%; }

.b-landing__logo {
  width: 30%;
  margin: 0 auto;
  display: block;
  margin-top: 38%;
  margin-bottom: 10%; }
  @media (max-width: 700px) {
    .b-landing__logo {
      margin-top: 33%;
      width: 60%; } }

.b-landing-info {
  position: relative;
  left: -15%;
  margin-bottom: 9%;
  font-size: 37px;
  font-size: 2.3125rem;
  font-weight: bold; }
  .b-landing-info .pre {
    position: relative;
    font-weight: normal;
    font-size: 24px;
    font-size: 1.5rem;
    margin-bottom: 2%;
    display: block;
    float: left; }
    .b-landing-info .pre:after {
      position: absolute;
      content: '';
      display: block;
      width: 50px;
      height: 2px;
      background: black;
      bottom: 10px;
      right: -60px; }
    @media (max-width: 700px) {
      .b-landing-info .pre {
        font-size: 20px;
        font-size: 1.25rem; } }
  .b-landing-info p {
    clear: both;
    line-height: 42px;
    line-height: 2.625rem; }
    @media (max-width: 700px) {
      .b-landing-info p {
        font-size: 27px;
        font-size: 1.6875rem;
        line-height: 36px;
        line-height: 2.25rem; } }
  @media (max-width: 1025px) {
    .b-landing-info {
      left: 4%; } }
  @media (max-width: 700px) {
    .b-landing-info {
      left: 0;
      padding: 0 5%; }
      .b-landing-info br {
        display: none; } }

.b-line--bottom {
  position: relative; }
  .b-line--bottom:after {
    position: absolute;
    bottom: -42%;
    width: 60px;
    background: #C41230;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    content: ""; }
    @media (max-width: 700px) {
      .b-line--bottom:after {
        bottom: -20%; } }

.b-brands {
  display: block;
  margin-bottom: 8%;
  overflow: hidden; }
  .b-brands > a {
    display: block; }
  .b-brands h2 {
    margin-bottom: 8%; }
    @media (max-width: 700px) {
      .b-brands h2 {
        font-size: 37px;
        font-size: 2.3125rem;
        line-height: 15px;
        line-height: 0.9375rem;
        margin-bottom: 15%; } }
  @media (max-width: 700px) {
    .b-brands {
      padding-top: 0; } }

.b-brands__item__background {
  width: 100%;
  transition: all 1300ms;
  position: absolute;
  display: block;
  top: 0;
  transform: scale(1.02); }

.b-brands__item {
  background-image: none !important;
  width: 25%;
  float: left;
  padding-top: 25%;
  overflow: hidden;
  position: relative;
  transition: all 300ms;
  background-size: 100%;
  background-position: center; }
  .b-brands__item:hover .b-brands__item__background {
    transform: scale(1.1); }
  .b-brands__item.double, .b-brands__item.blank {
    padding-top: 25%; }
  .b-brands__item.double {
    width: 50%;
    position: relative; }
    @media (max-width: 1025px) {
      .b-brands__item.double {
        opacity: 0; } }
    @media (max-width: 700px) {
      .b-brands__item.double {
        width: 100%;
        padding-top: 64%;
        opacity: 1; } }
  @media (max-width: 700px) {
    .b-brands__item.blank {
      display: none; } }
  @media (max-width: 700px) {
    .b-brands__item {
      width: 100%;
      padding-top: 58%;
      margin-bottom: 0%;
      background-size: 200%;
      background-position: center; } }
  .b-brands__item.atyabtabkha {
    background-image: url(../../assets/img/brands/atyabtabkha.png);
    float: left; }
  .b-brands__item.duniatti {
    background-image: url(../../assets/img/brands/duniatti.png); }
  .b-brands__item.yasmina {
    background-image: url(../../assets/img/brands/yasmina.png); }
  .b-brands__item.azilanti {
    background-image: url(../../assets/img/brands/3a2ilati.png); }
  .b-brands__item.warrini {
    background-image: url(../../assets/img/brands/warrini.png); }
  .b-brands__item.mazyun {
    background-image: url(../../assets/img/brands/mazyun.png); }
  .b-brands__item.mashasheri {
    background-image: url(../../assets/img/brands/mashasheri.png); }
  .b-brands__item.double.first {
    float: right; }
  @media (max-width: 700px) {
    .b-brands__item.double.type2 {
      top: 0;
      left: 0;
      /* padding-top: 50%; */
      height: 100%;
      width: 100%;
      top: 35%; } }
  @media (max-width: 700px) {
    .b-brands__item {
      padding-top: 100%; } }

.b-brands__item__logo {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%); }

.b-brands__social {
  width: 100%;
  text-align: center;
  margin-bottom: 6%; }
  @media (max-width: 700px) {
    .b-brands__social {
      margin-bottom: 9%; } }

.b-brands__social__item {
  display: inline-block;
  width: 30px;
  margin: 0 8px;
  text-align: center; }
  .b-brands__social__item img {
    height: 27px; }
  .b-brands__social__item:nth-child(1) img {
    height: 30px; }

.box {
  transform: scale(1.1) translateY(10px); }

.b-brands__desc {
  position: absolute;
  left: 16%;
  bottom: 33%;
  width: 60%;
  line-height: 25px;
  line-height: 1.5625rem; }
  .b-brands__desc .nbr {
    font-size: 181px;
    font-size: 11.3125rem;
    position: relative;
    top: -17px;
    left: -76px;
    /* font-weight: bold; */
    color: #eee;
    z-index: -1; }
    @media (max-width: 700px) {
      .b-brands__desc .nbr {
        left: 17px; } }
  .b-brands__desc .text {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 38px;
    line-height: 2.375rem; }
    @media (max-width: 700px) {
      .b-brands__desc .text {
        font-size: 17px;
        font-size: 1.0625rem;
        line-height: 24px;
        line-height: 1.5rem;
        width: 80%;
        margin-left: 10%; } }
  @media (max-width: 700px) {
    .b-brands__desc {
      width: 100%;
      left: 0;
      bottom: 0;
      padding-bottom: 16%; } }

.double.type2 .b-brands__desc {
  position: absolute;
  left: 33%;
  bottom: 35%;
  width: 60%; }
  @media (max-width: 700px) {
    .double.type2 .b-brands__desc {
      top: 39%;
      left: 0;
      width: 100%; } }

.b-contacts {
  clear: both;
  overflow: hidden;
  margin-bottom: 14%; }
  .b-contacts h2 {
    margin-bottom: 8%; }
  .b-contacts h5 {
    text-align: center;
    margin-bottom: 2%; }

.b-contacts__item {
  width: 40%;
  float: left; }
  .b-contacts__item h4 {
    margin-bottom: 25px; }
    @media (max-width: 700px) {
      .b-contacts__item h4 {
        margin-bottom: 4%; } }
  .b-contacts__item p {
    font-family: "Roboto", sans-serif;
    line-height: 23px;
    line-height: 1.4375rem;
    color: #95989A; }
  .b-contacts__item:nth-of-type(3) {
    width: 20%; }
    @media (max-width: 700px) {
      .b-contacts__item:nth-of-type(3) {
        width: 100%; } }
  @media (max-width: 700px) {
    .b-contacts__item {
      width: 100%;
      text-align: center;
      margin-bottom: 11%; } }

.b-contact__item__button {
  cursor: pointer;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 400; }

.b-division, .b-division--half {
  display: block; }

.b-division--half {
  margin-bottom: 40%;
  padding: 0 4%;
  font-family: "Roboto", sans-serif;
  line-height: 26px;
  line-height: 1.625rem;
  font-weight: 100; }
  .b-division--half .b-division__item {
    width: 48%;
    margin-right: 2%;
    float: left; }
    .b-division--half .b-division__item:last-child {
      margin-right: 0;
      margin-left: 2%; }
    @media (max-width: 700px) {
      .b-division--half .b-division__item {
        width: 100%; } }
  @media (max-width: 700px) {
    .b-division--half {
      padding: 0 5%; } }

.b-division--flat .b-division__item {
  padding: 0;
  margin: 0; }

.b-header-slider {
  z-index: 1;
  display: block; }
  .b-header-slider img {
    width: 100%; }
  .b-header-slider .slick-prev, .b-header-slider .arrow-right {
    right: auto;
    left: 1%;
    width: 26px; }
    @media (max-width: 700px) {
      .b-header-slider .slick-prev, .b-header-slider .arrow-right {
        display: none !important; } }
  .b-header-slider .slick-next, .b-header-slider .arrow-left {
    right: 1%;
    left: auto;
    width: 26px; }
    @media (max-width: 700px) {
      .b-header-slider .slick-next, .b-header-slider .arrow-left {
        display: none !important; } }
  @media (max-width: 700px) {
    .b-header-slider {
      margin-bottom: 26%; } }

.b-header-slider__item {
  overflow: hidden;
  position: relative;
  outline: none; }
  .b-header-slider__item:focus, .b-header-slider__item:hover, .b-header-slider__item:active {
    outline: none; }
  .b-header-slider__item img {
    outline: none; }
    .b-header-slider__item img:focus, .b-header-slider__item img:hover, .b-header-slider__item img:active {
      outline: none; }

.b-header-slider__item__info {
  position: absolute;
  left: 25%;
  top: 22%;
  width: 26%; }
  .b-header-slider__item__info h5 {
    position: relative;
    float: left;
    font-size: 19px;
    font-size: 1.1875rem;
    font-family: "Playfair Display", serif;
    margin-bottom: 4%; }
    .b-header-slider__item__info h5:after {
      position: absolute;
      width: 60px;
      height: 2px;
      background: #fff;
      content: "";
      display: block;
      bottom: 4px;
      right: -70px; }
  .b-header-slider__item__info h2 {
    clear: both;
    font-size: 106px;
    font-size: 6.625rem;
    line-height: 117px;
    line-height: 7.3125rem; }
    @media (max-width: 1600px) {
      .b-header-slider__item__info h2 {
        font-size: 6.625vw;
        line-height: 7.3125vw; } }
  @media (max-width: 1025px) {
    .b-header-slider__item__info {
      position: absolute;
      left: 20%;
      top: 17%;
      width: 44%; } }

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%); }

.slick-dots {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 4%; }
  .slick-dots li {
    display: inline;
    -webkit-appearance: none;
    outline: none; }
    .slick-dots li.slick-active button {
      opacity: 0.8; }
    .slick-dots li button {
      border: none;
      background: red;
      border-radius: 50%;
      margin: 5px;
      outline: none;
      -webkit-appearance: none;
      color: white;
      background: white;
      opacity: 0.4;
      width: 9px;
      height: 9px;
      padding: 0;
      content: '';
      color: transparent; }
  @media (max-width: 700px) {
    .slick-dots {
      display: none !important; } }

.b-header-slider__item__info {
  color: white;
  text-align: left;
  font-family: "Roboto", sans-serif; }
  .b-header-slider__item__info h2 {
    margin-bottom: 8%;
    display: block;
    font-weight: 500;
    font-size: 106px;
    font-size: 6.625rem;
    line-height: 117px;
    line-height: 7.3125rem; }
    @media (max-width: 1600px) {
      .b-header-slider__item__info h2 {
        font-size: 6.625vw;
        line-height: 7.3125vw; } }
    @media (max-width: 700px) {
      .b-header-slider__item__info h2 {
        font-size: 55px;
        font-size: 3.4375rem;
        line-height: 63px;
        line-height: 3.9375rem; } }
  .b-header-slider__item__info p {
    margin-bottom: 21%;
    line-height: 27px;
    line-height: 1.6875rem; }
    @media (max-width: 1025px) {
      .b-header-slider__item__info p {
        margin-bottom: 5%; } }
  @media (max-width: 700px) {
    .b-header-slider__item__info {
      position: absolute;
      left: 12%;
      top: 19%;
      width: 80%; } }

img.b-header-slider__item__media {
  display: block !important; }
  @media (max-width: 700px) {
    img.b-header-slider__item__media {
      display: none !important; } }

img.b-header-slider__item__media--mobile {
  display: none !important; }
  @media (max-width: 700px) {
    img.b-header-slider__item__media--mobile {
      display: block !important; } }

.b-header-slider__item__circle {
  position: absolute;
  z-index: 0;
  right: 0;
  top: 0;
  transform-origin: center;
  -moz-transform-origin: center;
  transform: rotateZ(52deg);
  -moz-transform: rotateZ(52deg);
  width: 215%;
  top: -128%;
  left: -18%; }

.slick-active .b-header-slider__item__circle {
  display: block; }

.atyab .mask-circle,
.alati .mask-circle,
.mazyun .mask-circle,
.atyab .mask-circle {
  -ms-transform-origin: 150% 150%;
  -webkit-transform-origin: 150% 150%;
  -moz-transform-origin: 150% 150%;
  transform-origin: 150% 150%; }

.mask-circle {
  -ms-transform-origin: 150% 150%;
  -webkit-transform-origin: 150% 150%;
  -moz-transform-origin: 150% 150%;
  transform-origin: 150% 150%; }
  @media (max-width: 700px) {
    .mask-circle {
      display: none; } }

.yasmina .b-header-slider__item__circle .st1 {
  fill: rgba(51, 6, 90, 0.8); }

.mazyun .b-header-slider__item__circle .st1 {
  fill: rgba(28, 93, 185, 0.72); }

.alati .b-header-slider__item__circle .st1 {
  fill: rgba(255, 0, 106, 0.56); }

.mashaheeri .b-header-slider__item__circle .st1 {
  fill: rgba(87, 4, 47, 0.7); }

.warrini .b-header-slider__item__circle .st1 {
  fill: rgba(35, 62, 61, 0.58); }

.st0 {
  opacity: 1 !important; }

.slick-arrow {
  cursor: pointer; }

.b-audience {
  display: block;
  margin-bottom: 10%; }
  @media (max-width: 700px) {
    .b-audience {
      margin-top: -27%; } }

.b-audience__item {
  width: 50%;
  float: left;
  text-align: center; }
  .b-audience__item img {
    width: 100%; }
  @media (max-width: 700px) {
    .b-audience__item {
      width: 100%; } }

.b-marketing-service, .b-marketing-service--top,
.b-marketing-service--bottom {
  text-align: center;
  display: block; }

.b-marketing-service--top {
  margin-bottom: 11%;
  line-height: 33px;
  line-height: 2.0625rem;
  font-size: 20px;
  font-size: 1.25rem; }
  .b-marketing-service--top h2 {
    margin-bottom: 13%; }
  .b-marketing-service--top p {
    padding: 0 4%; }
  @media (max-width: 700px) {
    .b-marketing-service--top {
      margin-bottom: 21%;
      text-align: left; }
      .b-marketing-service--top p {
        font-size: 16px;
        font-size: 1rem;
        line-height: 30px;
        line-height: 1.875rem; } }

.b-marketing-service--bottom {
  font-family: "Roboto", sans-serif;
  margin-bottom: 33%; }
  .b-marketing-service--bottom h4 {
    font-size: 19px;
    font-size: 1.1875rem;
    font-weight: normal;
    margin-bottom: 5%; }
  .b-marketing-service--bottom p {
    padding: 0 4%;
    line-height: 28px;
    line-height: 1.75rem;
    font-weight: 100; }
  @media (max-width: 700px) {
    .b-marketing-service--bottom {
      margin-bottom: 40%;
      text-align: left; }
      .b-marketing-service--bottom h4 {
        text-align: center; }
      .b-marketing-service--bottom p {
        font-size: 16px;
        font-size: 1rem; } }

.b-button, .b-button--red, .b-button--transparent, .b-button--tabkha, .b-button--yasmina, .b-button--3a2ilati, .b-button--mashaheeri, .b-button--warrini, .b-button--mazyun {
  width: 220px;
  height: 50px;
  display: block;
  text-align: center;
  line-height: 50px;
  line-height: 3.125rem; }
  @media (max-width: 1025px) {
    .b-button, .b-button--red, .b-button--transparent, .b-button--tabkha, .b-button--yasmina, .b-button--3a2ilati, .b-button--mashaheeri, .b-button--warrini, .b-button--mazyun {
      height: 45px;
      line-height: 45px;
      line-height: 2.8125rem;
      width: 190px; } }
  @media (max-width: 700px) {
    .b-button, .b-button--red, .b-button--transparent, .b-button--tabkha, .b-button--yasmina, .b-button--3a2ilati, .b-button--mashaheeri, .b-button--warrini, .b-button--mazyun {
      height: 50px;
      line-height: 50px;
      line-height: 3.125rem; } }

.b-button--red {
  background: #E5204B;
  color: white; }

.b-button--transparent {
  border: 2px solid #222;
  line-height: 44px;
  line-height: 2.75rem; }
  .b-button--transparent:hover {
    background: #222;
    color: white; }

.elem-center div {
  display: inline-block; }

.elem-center a {
  display: inline-block; }

.b-button--tabkha {
  background: #E5204B; }

.b-button--yasmina {
  background: #E5204B; }

.b-button--3a2ilati {
  background: #E5204B; }

.b-button--mashaheeri {
  background: #E5204B; }

.b-button--warrini {
  background: #E5204B; }

.b-button--mazyun {
  background: #E5204B; }

.b-video {
  position: relative;
  max-width: 1200px;
  margin: 0 auto; }
  .b-video video {
    width: 100%; }
  .b-video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }

.video-js {
  outline: none !important;
  width: 100%; }

.video-js button.vjs-big-play-button {
  background-image: url(../../assets/img/play-ico.png) !important;
  width: 200px;
  border-radius: 50%;
  height: 200px;
  border-radius: 50%;
  border: none;
  background-size: 100%;
  transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  background-color: transparent;
  transition: all 500ms !important;
  margin: 0 !important;
  background-size: 109%;
  background-position: center; }
  .video-js button.vjs-big-play-button:before, .video-js button.vjs-big-play-button:after {
    display: none; }
  @media (max-width: 700px) {
    .video-js button.vjs-big-play-button {
      width: 100px;
      background-repeat: no-repeat; } }

.b-detail-brands-slider {
  width: 100%;
  margin: 0 auto; }

.b-detail-brands-slider__item img {
  width: 100%; }

.b-detail-brands-slider {
  margin-bottom: 43%; }
  .b-detail-brands-slider .slick-prev, .b-detail-brands-slider .arrow-right {
    right: auto;
    left: -5%;
    width: 19px; }
  .b-detail-brands-slider .slick-next, .b-detail-brands-slider .arrow-left {
    right: -5%;
    left: auto;
    width: 19px; }

.b-detail-intro {
  padding-top: 32%;
  display: block; }
  .b-detail-intro h5 {
    text-align: center; }
  .b-detail-intro > img {
    position: relative;
    left: -11%;
    width: 123%; }
    @media (max-width: 700px) {
      .b-detail-intro > img {
        width: 90%;
        left: 5%; } }
  .b-detail-intro p {
    line-height: 33px;
    line-height: 2.0625rem;
    margin-bottom: 10%;
    text-align: center;
    padding: 0 3%; }

img.b-detail-intro__logo {
  width: 50%;
  left: 25%;
  margin-bottom: 12%; }

.b-detail-intro__media {
  margin-bottom: 16%; }

.b-detail-intro__text--Roboto {
  padding: 0 13%;
  text-align: center;
  line-height: 30px;
  line-height: 1.875rem;
  margin-bottom: 10%;
  font-family: "Roboto", sans-serif;
  color: #424242;
  font-weight: 300; }

.b-social {
  text-align: center; }

li.b-social__item {
  width: auto;
  display: inline-block;
  text-align: center;
  margin: 15px; }
  li.b-social__item a {
    display: block; }
  li.b-social__item img {
    height: 34px; }
  li.b-social__item:first-child {
    margin-left: 0; }
  li.b-social__item:nth-child(2) img {
    height: 30px; }

.b-detail-intro .b-social {
  text-align: center;
  margin-bottom: 29%;
  padding-top: 4%; }

.b-detail-intro li.b-social__item {
  display: inline-block;
  text-align: center;
  margin: 0; }
  .b-detail-intro li.b-social__item img {
    width: 60px;
    height: 60px; }

li.b-social__item.gplay img, li.b-social__item.app-store img {
  height: 40px;
  width: auto; }

li.b-social__item.app-store {
  margin: 15px; }

li.b-social__item.gplay {
  margin: 15px;
  margin-left: 0; }

.b-grid__holder {
  position: absolute;
  top: 0;
  height: 100%;
  width: 2800px; }

.b-grid__line {
  width: 200px;
  float: left;
  border-right: 1px solid #eee;
  height: 100%; }

.b-map {
  height: 420px;
  width: 178%; }
  @media (max-width: 700px) {
    .b-map {
      width: 100%; } }

.page-detail .menu-ico {
  background-image: url(../../assets/img/menu--dark.svg); }

.page-contact {
  padding-top: 8%; }
  @media (max-width: 700px) {
    .page-contact {
      padding-top: 30%; }
      .page-contact .b-contacts__item {
        text-align: left; } }
  .page-contact .menu-ico {
    background-image: url(../../assets/img/menu--dark.svg); }
