@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300);
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  overflow-x: hidden;
  line-height: 1; }

a {
  text-decoration: none;
  color: inherit; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after, .wrapper:after, .section:after, .section--brands:after, .b-division:after, .b-division--half:after, .b-header-slider:after, .b-audience:after {
  content: "";
  display: table;
  clear: both; }

a:hover, a:active, a:focus {
  outline: none;
  color: inherit; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Playfair Display", serif;
  font-size: 16px; }
  @media (max-width: 2050px) {
    html {
      font-size: 16px; } }
  @media (max-width: 700px) {
    html {
      font-size: 16px; } }

h1 {
  font-size: 47px;
  line-height: 58px;
  text-align: center;
  font-weight: bold; }
  @media (max-width: 700px) {
    h1 {
      font-size: 23px;
      line-height: 30px;
      padding: 0 4%; } }

h2 {
  font-size: 40px;
  text-align: left;
  display: inline;
  font-weight: bold; }
  h2 span {
    font-size: 16px; }

h3 {
  font-size: 30px;
  line-height: 43px;
  text-align: center; }
  @media (max-width: 700px) {
    h3 {
      font-size: 20px;
      line-height: 30px; } }
  @media (max-width: 700px) and (max-width: 700px) {
    h3 {
      padding: 0 5%; } }

h4 {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 3%; }

strong {
  font-weight: bold; }

.elem-center {
  display: block;
  text-align: center; }

.wrapper {
  display: block;
  margin: 0 auto;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  max-width: 800px;
  position: relative; }
  .wrapper:before {
    position: absolute;
    content: '';
    width: 1px;
    background: #eee;
    height: 100%;
    left: 50%;
    z-index: -1; }
    @media (max-width: 700px) {
      .wrapper:before {
        display: none; } }
  @media (max-width: 1025px) {
    .wrapper {
      padding: 0 5%; } }
  @media (max-width: 700px) {
    .wrapper {
      padding: 0; } }

.wrapper--big {
  display: block;
  max-width: 1600px;
  margin: 0 auto; }

.section, .section--brands {
  display: block; }

.header {
  width: 100%;
  z-index: 99;
  position: absolute; }

.header-social {
  float: right;
  margin-top: 20px;
  margin-right: 13.9%;
  z-index: 6;
  position: relative; }
  @media (max-width: 700px) {
    .header-social {
      margin-top: 6px;
      margin-right: 4px; } }

.header-social__item {
  display: inline-block; }
  .header-social__item img {
    height: 30px;
    margin: 4px 10px; }
    .header-social__item img.insta {
      height: 26px;
      margin-right: 14px; }

.header__logo {
  bottom: 3%;
  width: 14%;
  left: 5%;
  position: relative; }

.footer-copy {
  display: block;
  clear: both;
  overflow: hidden;
  margin-bottom: 8%; }
  .footer-copy p {
    float: right;
    color: #95989A;
    padding-top: 2%;
    font-size: 13px;
    font-family: "Roboto", sans-serif; }
    @media (max-width: 700px) {
      .footer-copy p {
        text-align: center;
        width: 100%;
        margin-bottom: 0%; } }
  .footer-copy img {
    float: left;
    width: 140px; }
    @media (max-width: 700px) {
      .footer-copy img {
        margin: 0 auto;
        float: none;
        display: block;
        margin-bottom: 8%; } }

.footer-social {
  text-align: center;
  margin-bottom: 8%; }

.footer-social__item {
  display: inline-block;
  text-align: center; }
  .footer-social__item a {
    display: block; }
  .footer-social__item img {
    width: 60px; }
  .footer-social__item:nth-child(3) img {
    width: 44px;
    margin: 7px; }

.b-landing {
  display: block;
  margin-bottom: 7%; }
  .b-landing h1 {
    padding-top: 10%;
    padding-bottom: 8%; }
  .b-landing .b-division, .b-landing .b-division--half {
    margin-bottom: 10%; }

.b-landing__logo {
  width: 30%;
  margin: 0 auto;
  display: block;
  margin-top: 38%;
  margin-bottom: 10%; }
  @media (max-width: 700px) {
    .b-landing__logo {
      margin-top: 33%;
      width: 60%; } }

.b-landing-info {
  position: relative;
  left: -10%; }

.b-line--bottom {
  position: relative; }
  .b-line--bottom:after {
    position: absolute;
    bottom: -42%;
    width: 60px;
    background: #C41230;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    content: ""; }
    @media (max-width: 700px) {
      .b-line--bottom:after {
        bottom: -20%; } }

.b-brands {
  display: block;
  margin-bottom: 32%;
  overflow: hidden; }
  .b-brands > a {
    display: block;
    float: left; }
  @media (max-width: 700px) {
    .b-brands {
      padding-top: 0; } }

.b-brands__item {
  width: 25%;
  float: left;
  padding-top: 25%;
  position: relative;
  transition: all 300ms;
  background-size: contain; }
  .b-brands__item.double {
    width: 50%; }
  @media (max-width: 700px) {
    .b-brands__item {
      width: 100%;
      padding-top: 51%;
      margin-bottom: 0%;
      border-bottom: 1px solid #eee; } }
  .b-brands__item.atyabtabkha {
    background-image: url(../../assets/img/brands/atyabtabkha.png); }
  .b-brands__item.duniatti {
    background-image: url(../../assets/img/brands/duniatti.png); }
  .b-brands__item.yasmina {
    background-image: url(../../assets/img/brands/yasmina.png); }
  .b-brands__item.azilanti {
    background-image: url(../../assets/img/brands/3a2ilati.png); }
  .b-brands__item.warrini {
    background-image: url(../../assets/img/brands/warrini.png); }
  .b-brands__item.mazyun {
    background-image: url(../../assets/img/brands/mazyun.png); }
  .b-brands__item.mashasheri {
    background-image: url(../../assets/img/brands/mashasheri.png); }

.b-brands__item__logo {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 20%;
  opacity: 0.7;
  transform: translateY(-50%); }
  @media (max-width: 700px) {
    .b-brands__item__logo {
      top: 0; } }

.b-brands__social {
  width: 100%;
  text-align: center;
  margin-bottom: 6%; }
  @media (max-width: 700px) {
    .b-brands__social {
      margin-bottom: 9%; } }

.b-brands__social__item {
  display: inline-block;
  width: 30px;
  margin: 0 8px;
  text-align: center; }
  .b-brands__social__item img {
    height: 27px; }
  .b-brands__social__item:nth-child(1) img {
    height: 30px; }

.box {
  transform: scale(1.1) translateY(10px); }

.b-contacts {
  clear: both;
  overflow: hidden;
  margin-bottom: 14%; }
  .b-contacts h2 {
    margin-bottom: 8%; }

.b-contacts__item {
  width: 40%;
  float: left; }
  .b-contacts__item h4 {
    margin-bottom: 25px; }
    @media (max-width: 700px) {
      .b-contacts__item h4 {
        margin-bottom: 4%; } }
  .b-contacts__item p {
    font-family: "Roboto", sans-serif;
    line-height: 23px;
    color: #95989A; }
  .b-contacts__item:nth-of-type(3) {
    width: 20%; }
    @media (max-width: 700px) {
      .b-contacts__item:nth-of-type(3) {
        width: 100%; } }
  @media (max-width: 700px) {
    .b-contacts__item {
      width: 100%;
      text-align: center;
      margin-bottom: 11%; } }

.b-division, .b-division--half {
  display: block; }

.b-division--half .b-division__item {
  width: 48%;
  margin-right: 2%;
  float: left; }
  .b-division--half .b-division__item:last-child {
    margin-right: 0;
    margin-left: 2%; }

.b-header-slider {
  display: block; }
  .b-header-slider img {
    width: 100%; }

.b-header-slider__item {
  position: relative; }

.b-header-slider__item__info {
  position: absolute;
  left: 20%;
  top: 50%; }

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10; }

.slick-prev {
  right: auto;
  left: 2%; }

.slick-next {
  right: 2%;
  left: auto; }

.b-header-slider__item__info {
  color: white;
  text-align: left;
  font-family: "Roboto", sans-serif; }
  .b-header-slider__item__info h2 {
    text-align: left; }

.b-audience {
  display: block; }

.b-audience__item {
  width: 50%;
  float: left;
  text-align: center; }
  .b-audience__item img {
    width: 80%; }

.b-marketing-service, .b-marketing-service--top,
.b-marketing-service--bottom {
  text-align: center;
  display: block; }
